body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    background-color: #343a40;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.search-bar {
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 700px;
    padding: 0;
    border-radius: 50px;
}

.search-input {
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 15px;
    flex-grow: 1;
}

.search-icon {
    background-color: #343a40;
    border-radius: 0 50px 50px 0;
    padding: 10px 20px;
    color: white;
}

.search-input:focus {
    outline: none;
}

.results-table {
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.table {
    background-color: #ffffff;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .search-bar {
        margin-top: 50px;
    }
    .search-input, .search-icon {
        border-radius: 50px !important;
        width: 100%;
    }
}

#sql-query {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}

